/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#BorderPane{
	-fx-background-color:green;
}

.image-view{
	-fx-image:url("../../med/images/logoW.png");
}

.label{
	-fx-text-fill:white;
}

.button{
	-fx-background-color:white;
	-fx-text-fill:green;
}

.text-field{
	-fx-background-color:white;
	-fx-text-fill:green;
}

.text-field{
	-fx-background-color:white;
	-fx-text-fill:green;
}

.choice-box{
	-fx-background-color:green;
}